body{
	font-family: Arial,sans-serif;
}
.contenido{
	text-align: center;
}
.contenido a{
	text-decoration: none;
}
.portada{
	margin: 40px 0;
	text-align: center;	
}
.btn {
  display: inline-block;
  *display: inline;
  padding: 12px 15px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

ol, ul {
    list-style: none outside none;
}
/*======================== Encuesta ==========================*/
#quickyform {
  -moz-user-select: -moz-none;
  font-family: Arial,sans-serif;
  position: relative;
  z-index: 3;
}
#quickyform #questions{
  position: relative;
}
#questions, #intro .content-wrapper, #outro .content-wrapper, #header .content, #footer .content, #footer-confirm .wrapper, #intro .footer .content, #message .content {
    display: block;
    margin: 0 auto;
    max-width: 800px;
}
#quickyform #questions > li {
    opacity: 0.2;
    position: relative;
}
#quickyform #questions > li.open {
    cursor: default;
    opacity: 1;
}
#quickyform #questions > li.open div.item .arrow {
    display: block;
}
#quickyform #questions > li .content {
    padding: 18px 55px 25px;
    position: relative;
}
#quickyform #questions > li .content .description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    margin-top: -14px;
    text-align: justify;
}
#quickyform #questions > li .content .description a {
    color: inherit;
}
#quickyform #questions > li .content .description .placeholder {
    opacity: 0.3;
}
.question {
    -moz-user-select: text;
    cursor: pointer;
    font-size: 22px;
    color: #BD2B2B;
    line-height: 140%;
    margin: 65px 20px 0 55px;
    padding: 0;
    position: relative;
    text-align: left;
    display: inline;
}
.item {
  font-size: 22px;
  line-height: 35px;
  margin-right: 30px;
  padding: 0;
  position: absolute;
  text-align: right;
  width: 20px;
  color: #BD2B2B;
  display: inline;
}
.item .arrow {
    height: 4px;
    left: 29px;
    position: absolute;
    top: 16px;
    width: 7px;
    background-color:#BD2B2B;;
}
.item .arrow .arrow-right {
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
  border-top: 5px solid transparent;
  height: 0;
  margin-left: 7px;
  margin-top: -3px;
  width: 0;
  color: #BD2B2B;
}
.item .required {
    display: none;
}
.list-opciones{
  margin: 0;
  padding: 0;
  line-height: 22px;
}
.opciones{
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #ccc;
  padding: 4px;
  z-index: 4;
  margin: 7px 0;
  font-size: 19px;
  color: #2E2E2E;
}
.opciones:hover{
  background-color: #F2F2F2;
}
.radio.inline, .checkbox.inline {
    display: inline-block;
    margin-bottom: 0;
    padding-top: 5px;
    vertical-align: middle;
}
.radio, .checkbox {
    min-height: 20px;
    padding-left: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
label, input, button, select, textarea {
    font-weight: normal;
    line-height: 20px;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

#fin-encuesta{
  margin:50px 15px 20px;
  text-align: center;
  background:-moz-linear-gradient(top,#E7F5FF,#d6e8f4);
  /*background:-moz-linear-gradient(top, #ebf0ff, #D3D8E8);*/
  background:#FFD479;
  border:1px solid #EEB231;
  font-size: 14px;
  padding: 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
#fin-encuesta h2{
  margin-bottom:8px;
  font-size: 25px;
  font-weight:bold;
  color:#000;
  text-shadow:0 1px 0 #dce5f6;  
}
#fin-encuesta p{
  font-size: 16px;
  line-height:normal;
  text-align:center;
} 
/*==========================Validacion encuesta ====================*/
.ErrorField {
  border: 1px solid #D00;
  color: #D00;
  border-radius: 4px;
  -moz-border-radius: 4px;
  margin:10px 0;
  padding: 3px 4px;
}
